<!DOCTYPE html>
<html class="no-js">


  <body>
    <div class="container">
      <div class="span8 offset1">
      {{ content }}
      </div>
    </div> <!-- /container -->

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

    <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/main.js"></script>

    {% include analytics.html %}
  </body>
</html>
