<section class="header">
  <div class="subscribe">
    <table>
      <tr>
        <td><span>Get Updates: &nbsp;</span></td>
        {% if site.subscribe_rss %}
        <td><a href="{{site.subscribe_rss}}" class="btn"><i class="icon-cog"></i> By ATOM</a></td>
        {% endif %}
        <td>&nbsp;</td>
        {% if site.twitter_user %}
        <td><a href="https://twitter.com/{{site.twitter_user}}" class="btn"><i class="icon-twitter-sign"></i> On Twitter</a></td>
        {% endif %}
        <td>&nbsp;</td>
        {% if site.github_repo %}
        <td><a href="https://github.com/{{site.github_repo}}" class="btn"><i class="icon-github-sign"></i> On GitHub</a></td>
        {% endif %}
      </tr>
    </table>
  </div>

  <div>
    <h1 class="title">
      <a href="/"><img src="{{ site.url }}/images/rubysec-logo.png" width="80" height="80"></a>
      {{ site.title }}
    </h1>
    {% if site.subtitle %}
      <p class="lead">{{ site.subtitle }}</p>
    {% endif %}
  </div>
