---
layout: post
---

<h3>ADVISORIES</h3>

<ul>
{% if page.advisory.cve %}
<li>
  <a href="https://nvd.nist.gov/vuln/detail/CVE-{{ page.advisory.cve }}">CVE-{{ page.advisory.cve }}</a>
</li>
{% endif %}

{% if page.advisory.ghsa %}
<li>
  <a href="https://github.com/advisories/GHSA-{{ page.advisory.ghsa }}">GHSA-{{ page.advisory.ghsa }}</a>
</li>
{% endif %}

{% if page.advisory.osvdb %}
<li>
  OSVDB-{{ page.advisory.osvdb }}
</li>
{% endif %}

{% unless page.advisory.url contains 'osvdb.org' or page.advisory.url contains 'nvd.nist.gov'
   or page.advisory.url contains 'cve.mitre.org' or page.advisory.url contains 'github.com/advisories' %}
<li>
  <a href="{{ page.advisory.url }}">Vendor Advisory</a>
</li>
{% endunless %}
</ul>

<h3>GEM</h3>

<p>
<a href="https://rubygems.org/gems/{{ page.advisory.gem }}">{{ page.advisory.gem }}</a>
</p>

{% if page.advisory.framework %}
<h3>FRAMEWORK</h3>

<p>{{ page.advisory.framework }}</p>
{% endif %}

{% if page.advisory.cvss_v2 or page.advisory.cvss_v3 %}
<h3>SEVERITY</h3>

{% if page.advisory.cvss_v3 %}
<p><strong>CVSS v3</strong>: {{ page.advisory.cvss_v3 }}</p>
{% endif %}
{% if page.advisory.cvss_v2 %}
<p><strong>CVSS v2</strong>: {{ page.advisory.cvss_v2 }}</p>
{% endif %}
{% endif %}

{% if page.advisory.unaffected_versions %}
<h3>UNAFFECTED VERSIONS</h3>

<ul>
  {% for version in page.advisory.unaffected_versions %}
  <li><kbd>{{ version }}</kbd></li>
  {% endfor %}
</ul>
{% endif %}

<h3>PATCHED VERSIONS</h3>

{% if page.advisory.patched_versions %}
<ul>
  {% for version in page.advisory.patched_versions %}
  <li><kbd>{{ version }}</kbd></li>
  {% endfor %}
</ul>
{% else %}
<p>None.</p>
{% endif %}

<h3>DESCRIPTION</h3>

<p>{{ page.advisory.description | markdownify }}</p>
