---
layout: post
---

<h3>ADVISORIES</h3>

<ul>
{% if page.advisory.cve %}
<li>
  <a href="https://www.cve.org/CVERecord?id=CVE-{{ page.advisory.cve }}">CVE-{{ page.advisory.cve }}</a>
  (<a href="https://nvd.nist.gov/vuln/detail/CVE-{{ page.advisory.cve }}">NVD</a>)
</li>
{% endif %}

{% if page.advisory.ghsa %}
<li>
  <a href="https://github.com/advisories/GHSA-{{ page.advisory.ghsa }}">GHSA-{{ page.advisory.ghsa }}</a>
</li>
{% endif %}

{% if page.advisory.osvdb %}
<li>
  OSVDB-{{ page.advisory.osvdb }}
</li>
{% endif %}

{% unless page.advisory.url contains 'osvdb.org' or page.advisory.url contains 'nvd.nist.gov'
   or page.advisory.url contains 'cve.mitre.org' or page.advisory.url contains 'cve.org'
   or page.advisory.url contains 'github.com/advisories' %}
<li>
  <a href="{{ page.advisory.url }}">Vendor Advisory</a>
</li>
{% endunless %}
</ul>

<h3>GEM</h3>

<p>
<a href="https://rubygems.org/gems/{{ page.advisory.gem }}">{{ page.advisory.gem }}</a>
</p>

{% if page.advisory.library %}
<h3>LIBRARY</h3>

<p>
{% if page.advisory.library == "rubygems" %}
  <a href="https://rubygems.org/">RubyGems</a>
{% else %}
  {{ page.advisory.library }}
{% endif %}
</p>
{% endif %}

{% if page.advisory.framework %}
<h3>FRAMEWORK</h3>

<p>
{% if page.advisory.framework == "rails" %}
  <a href="https://rubyonrails.org/">Ruby on Rails</a>
{% else %}
  {{ page.advisory.framework }}
{% endif %}
</p>
{% endif %}

{% if page.advisory.platform %}
<h3>PLATFORM</h3>

<p>
{% if page.advisory.platform == "goruby" %}
  <a href="https://goruby.github.io/">GoRuby</a>
{% elsif page.advisory.platform == "ironruby" %}
  <a href="http://ironruby.net/">IronRuby</a>
{% elsif page.advisory.platform == "jruby" %}
  <a href="https://www.jruby.org/">JRuby</a>
{% elsif page.advisory.platform == "macruby" %}
  <a href="http://macruby.org/">MacRuby</a>
{% elsif page.advisory.platform == "maglev" %}
  <a href="https://maglev.github.io/">MagLev</a>
{% elsif page.advisory.platform == "rbx" or page.advisory.platform == "rubinius" %}
  <a href="https://github.com/rubinius/rubinius">Rubinius</a>
{% elsif page.advisory.platform == "ree" %}
  <a href="http://www.rubyenterpriseedition.com/">Ruby Enterprise Edition</a>
{% else %}
  {{ page.advisory.platform }}
{% endif %}
</p>
{% endif %}

{% if page.advisory.cvss_v2 or page.advisory.cvss_v3 %}
<h3>SEVERITY</h3>

{% if page.advisory.cvss_v3 %}
{% assign cvss_v3 = page.advisory.cvss_v3 %}
<p><a href="https://www.first.org/cvss/">CVSS v3.x</a>: {{ cvss_v3 }} (
  {%- if cvss_v3 == 0.0 -%}
    None
  {%- elsif cvss_v3 >= 0.1 and cvss_v3 <= 3.9 -%}
    Low
  {%- elsif cvss_v3 >= 4.0 and cvss_v3 <= 6.9 -%}
    <span style="color: #FFB507;">Medium</span>
  {%- elsif cvss_v3 >= 7.0 and cvss_v3 <= 8.9 -%}
    <span style="color: #FF6900;"><strong>High</strong></span>
  {%- elsif cvss_v3 >= 9.0 and cvss_v3 <= 10.0 -%}
    <span style="color: #D5011B;"><strong>Critical</strong></span>
  {%- endif -%}
)</p>
{% endif %}
{% if page.advisory.cvss_v2 %}
{% assign cvss_v2 = page.advisory.cvss_v2 %}
<p><a href="https://www.first.org/cvss/v2/">CVSS v2.0</a>: {{ cvss_v2 }} (
  {%- if cvss_v2 >= 0.0 and cvss_v2 <= 3.9 -%}
    Low
  {%- elsif cvss_v2 >= 4.0 and cvss_v2 <= 6.9 -%}
    <span style="color: #FFB507;">Medium</span>
  {%- elsif cvss_v2 >= 7.0 and cvss_v2 <= 10.0 -%}
    <span style="color: #D5011B;"><strong>High</strong></span>
  {%- endif -%}
)</p>
{% endif %}
{% endif %}

{% if page.advisory.unaffected_versions %}
<h3>UNAFFECTED VERSIONS</h3>

<ul>
  {% for version in page.advisory.unaffected_versions %}
  <li><kbd>{{ version | escape }}</kbd></li>
  {% endfor %}
</ul>
{% endif %}

<h3>PATCHED VERSIONS</h3>

{% if page.advisory.patched_versions %}
<ul>
  {% for version in page.advisory.patched_versions %}
  <li><kbd>{{ version | escape }}</kbd></li>
  {% endfor %}
</ul>
{% else %}
<p>None.</p>
{% endif %}

<h3>DESCRIPTION</h3>

{{ page.advisory.description | xml_escape | markdownify }}

{% if page.advisory.related %}
<h3>RELATED</h3>

<ul>
{% if page.advisory.related.cve %}
  {% for cve in page.advisory.related.cve %}
    <li>
      <a href="https://www.cve.org/CVERecord?id=CVE-{{ cve }}">CVE-{{ cve }}</a>
      (<a href="https://nvd.nist.gov/vuln/detail/CVE-{{ cve }}">NVD</a>)
    </li>
  {% endfor %}
{% endif %}
{% if page.advisory.related.ghsa %}
  {% for ghsa in page.advisory.related.ghsa %}
    <li>
      <a href="https://github.com/advisories/GHSA-{{ ghsa }}">GHSA-{{ ghsa }}</a>
    </li>
  {% endfor %}
{% endif %}
{% if page.advisory.related.osvdb %}
  {% for osvdb in page.advisory.related.osvdb %}
    <li>
      OSVDB-{{ osvdb }}
    </li>
  {% endfor %}
{% endif %}
{% if page.advisory.related.url %}
  {% for url in page.advisory.related.url %}
    <li>
      <a href="{{ url }}">{{ url }}</a>
    </li>
  {% endfor %}
{% endif %}
</ul>
{% endif %}
